.bg-Orange {  background-color: rgba(255, 136, 0, 0.89);
              border-radius: 4px;}

.size85   {   width: 85%;
              margin: auto;}

.size50   {   width: 50%;}

.cyanTheme  { background-color: #00ccff52;}